<!-- 들어간 지역에 있는 사람들 보여주는 페이지 -->
{% extends 'navbar_base.html' %}
{% block content %}
   

    <div class="container">
        <!-- 내가 어느 지역에 들어왔는지를 보여줌 -->
        <div class="now_area">
            
        </div>
        <div class="now_people">
            <div class="빈 grid"> </div>
            <!-- 공격하는 사람들 리스트-->
            <div class="attacker">
                <h3>공격하는 사람</h3>
                <br>
                <p>aa</p>
                <p>bb</p>
                <p>cc</p>
                <p>dd</p>
            </div>
            <!-- 공격받는 사람들 리스트 -->
            <div class="defender">
                <h3>공격받는 사람</h3>
                <br>
                <a href="">aa</a><br><br>
                <a href="">bb</a><br><br>
                <a href="">cc</a><br><br>
                <a href="">dd</a><br><br>
            </div>
            <div class="빈 grid"> </div>
        </div>
    </div>

</body>

<style>
ul {
    list-style: none;
}  
.now_people {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 100px;
    text-align: center;
}
</style>

{% endblock%}