<!-- 들어간 지역에 있는 사람들 보여주는 페이지 -->
{% extends 'navbar_base.html' %}
{% load staticfiles %}
{% block content %}
   

    <div class="container">
        <!-- 내가 어느 지역에 들어왔는지를 보여줌 -->
        <div class="now_area">
            
        </div>
        <div class="now_people">
            <div class="빈 grid"> </div>
     
         <form method="GET" action="{% url 'situation_create' %}"> 
            <div class="defender">
                <h3>공격 받은 동물들</h3>
                {% for animal in allobject %}
                <input type="radio" name="animal" value="{{animal.ID}}" /> {{animal.ID.username}}
                <br>
                
                {% endfor %}
                <input type="radio" name="animal" value="{{animal.ID}}" />공격안하기
            </div>
            <input type="submit" value="공격" >
        
            </form>
           

            <div class="빈 grid"> </div>
        </div>
    </div>

</body>

<style>
ul {
    list-style: none;
}  
.now_people {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 100px;
    text-align: center;
}
</style>

{% endblock%}