<!-- 거주지역 선택하는 페이지 -->
{% extends 'navbar_base.html' %}
{% load staticfiles %}
{% block content %}
<!-- navbar 시작 -->
    <div class="container">
        <div class="choose_area">
            <p>들어갈 지역을 고르세요</p>
        </div>
        <div class="list_area">
            <div class="빈 grid"></div>
            <!-- 하늘 사진 -->
            <div class="area">
                <div class="area-image">
                    <div class="card" style=" margin:auto ; width: 100%;">
                        <img src="{% static 'image/area/sky2.jpg' %}" class="card-img-top" alt="...">
                    </div>
                </div>
                <div class="area-text">
                    <a href="javascript:{document.getElementById('area').submit()}">SKY</a>
                    <form id="sky" method="get" action="{% url 'choose_process' %}">
                        <input type="hidden" name="area" value="sky">

                    </form>
                </div>
            </div>
            <!-- 강 사진 -->
            <div class="area">
                <div class="area-image">
                    <div class="card" style="float: left; width: 100%;">
                        <img src="{% static 'image/area/river2.jpg' %}" class="card-img-top" alt="...">
                    </div>
                </div>
                <div class="area-text">
                    <a href="javascript:{document.getElementById('area').submit()}">River</a>
                    <form id="sky" method="get" action="{% url 'choose_process' %}">
                        <input type="hidden" name="area" value="river">
                    
                </div>
            </div>
        </div>
        <div class="list_area">
            <div class="빈 grid"></div>
            <!-- 들 사진 -->
            <div class="area">
                <div class="area-image">
                    <div class="card" style="float:right;  width: 100%; ">
                        <img src="{% static 'image/area/field2.jpg' %}" class="card-img-top" alt="...">
                    </div>
                </div>
                <div class="area-text">
                    <a href="javascript:{document.getElementById('area').submit()}">Field</a>
                    <form id="sky" method="get" action="{% url 'choose_process' %}">
                        <input type="hidden" name="area" value="field">
                </div>
            </div>
            <!-- 숲 사진 -->
            <div class="area">
                <div class="area-image">
                    <div class="card" style="float:left; width: 100%; ">
                        <img src="{% static 'image/area/forest2.jpg' %}" class="card-img-top" alt="...">
                    </div>
                </div>
                <div class="area-text">
                    <a href="javascript:{document.getElementById('area').submit()}">SKY</a>
                    <form id="sky" method="get" action="{% url 'choose_process' %}">
                        <input type="hidden" name="area" value="field">
                </div>
            </div>
        </div>
        <div class="빈 grid"></div>
    </div>
    
</div>
</div>
</body>

<style>
    .choose_area {
        padding-top: 20px;
        text-align: center;
        padding-bottom: 20px;
        font-family: Noto Serif KR;
        font-size: 33px;
    }

    .list_area {
        text-align: center;
        font-size: 18px;
        display: grid;
        grid-template-columns: 10% 40% 40% 10%;
    }

    .area {
        width: 100%;
        position: relative;
    }

    .area-image {
        vertical-align: middle;
    }

    .area-text {
        padding: 5px 10px;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 35px;
        font-weight:700;
        font-family: Nanum Gothic;
    }

    a {
        all: unset;
    }
</style>

</html>
{% endblock%}