<!-- 역할이 정해지고 역할 설명과 특징에 대해 설명하는 페이지 -->
{% extends 'navbar_base.html' %}
{% load staticfiles %}
{% block content %}
<!-- navbar 시작 -->

<div class="container">
    <div class="role_img">
        <img src="{% static address %}" alt="">
    </div>
    <div class="role_name">
        <p>내가 할 역할: {{your_kind}}</p>
    </div>
    <div class="role_detail">
        <p>승리 조건: {{your_kind.victory_condition}}</p>
        <p>패배 조건: {{your_kind.defeat_condition}}</p>
        <div class="uniq">
            <p>특이 사항: {{your_kind.uniq}}</p>
        </div>
        <p>금지 지역: {{your_kind.limited_location}}</p>
        <br>
        <a class="btn btn-primary" href="{% url 'choose_area' %}" role="button">게임시작</a>
    </div>
</div>

<style>
    .role_img {
        width: 20%;
        text-align: center;
        margin: 0px auto;
    }

    .role_img img {
        width: 100%;
        height: auto;
        padding-top: 100px;
    }

    .role_name {
        text-align: center;
        padding-top: 20px;
        font-size: 30px;
        font-family: Noto Serif KR;
        font-weight: 900;
    }

    .role_detail {
        text-align: center;
        padding-top: 20px;
        font-family: Noto Serif KR;
        font-size: 18px;

    }
    .btn.btn-primary{
        background-color: #4a7745;
        color: white;
        border-color: #4a7745;
        font-size: 20px;
    }
    .btn.btn-primary:hover {
        background-color: #4a7745;
        color: white;
        border-color: #4a7745;
    }
    .uniq {
        color: #db2e2e;
        font-weight: 900;
    }
</style>

{% endblock %}