<!-- 역할이 정해지고 역할 설명과 특징에 대해 설명하는 페이지 -->
{% extends 'base.html' %}
{% block content %}
    <!-- navbar 시작 -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #3d3d3d;">
        <a class="navbar-brand" style="color: white;" href="#">먹이 사슬</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
        </div> -->
    </nav>
    <div class="container">
        <div class="role_img">
            <img src="../image/role/lion.png" alt="" >
        </div>
        <div class="role_name">
            <p>LION</p>
        </div>
        <div class="role_detail">
            <p>승리 조건: </p>
            <p>패배 조건: </p>
            <p>특이 사항: </p>
            <p>금지 지역: </p>
        </div>

    </div>

</body>

<style>
.role_img {
    width: 30%; 
    text-align:center; 
    margin:0px auto;
}
.role_img img {
    width: 100%; 
    height: auto;
    padding-top: 100px; 
}
.role_name {
    text-align:center;
    padding-top: 20px;
    font-size: 30px;
}
.role_detail {
    text-align:center;
    padding-top: 20px;

}
</style>

</html>
{% endblock %}