<!-- 역할이 정해지고 역할 설명과 특징에 대해 설명하는 페이지 -->
{% extends 'navbar_base.html' %}
{% block content %}
    <!-- navbar 시작 -->
    
    <div class="container">
        <div class="role_img">
            <img src="../image/role/lion.png" alt="" >
        </div>
        <div class="role_name">
            <p>LION</p>
        </div>
        <div class="role_detail">
            <p>승리 조건: </p>
            <p>패배 조건: </p>
            <p>특이 사항: </p>
            <p>금지 지역: </p>
        </div>

    </div>

</body>

<style>
.role_img {
    width: 30%; 
    text-align:center; 
    margin:0px auto;
}
.role_img img {
    width: 100%; 
    height: auto;
    padding-top: 100px; 
}
.role_name {
    text-align:center;
    padding-top: 20px;
    font-size: 30px;
}
.role_detail {
    text-align:center;
    padding-top: 20px;

}
</style>

</html>
{% endblock %}