{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

{% if user.is_authenticated %}
<h1>{{user.username}}</h1>
<a href=" {% url 'logout' %}">
    <h1>logout</h1>
</a>
{% else %}
<a href=" {% url 'login' %}">
    <h1>login</h1>
</a>
{% endif %}





<div class="start">
    <div class="start_img">
        <img src="{% static 'image/start/detective.png'%}">
        <h1>FOOD CHAIN</h1>
    </div>
    <br>

    <div class="start_button">
        {% if user.is_authenticated %}
        <button type="button" onclick="window.location.href='{% url "role" %}'" class="btn btn-light">START</button>
        {% else %}
        <button type="button" onclick="window.location.href='{% url "login" %}'" class="btn btn-light">START</button>
        {% endif %}
    </div>
    <br>
    <br>
</div>



<style>
    .login {
        text-align: right;
    }

    .start {
        position: relative;
    }

    .start_img {
        width: 30%;
        margin: 0px auto;

        text-align: center;


    }

    .start_img img {
        width: 100%;
        height: auto;
    }

    .start_button {
        text-align: center;
    }

    .start {
        position: relative;
    }

    .start_img {
        width: 30%;
        margin: 0px auto;

        text-align: center;


    }

    .start_img img {
        width: 100%;
        height: auto;
    }

    .start_button {
        text-align: center;
    }
</style>
{% endblock %}