{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="start">
    
    {% if user.is_authenticated %}
    <div class="logout">
        <a href=" {% url 'logout' %}">
            <p>logout</p>
        </a>
    </div>
    {% else %}
    <div class="login">
        <a href=" {% url 'login' %}">
            <p>login</p>
        </a>
    </div>
    {% endif %}
    <br><br>
    <div class="food_chain">
        <p>먹이사슬</p>
    </div>
    <div class="start_button">
        {% if user.is_authenticated %}
        <button type="button" onclick="window.location.href='{% url "role" %}'" class="btn btn-outline-light" style="width: 150px; height: 60px; font-size: 20px; font-weight: 700;">START</button>
        {% else %}
        <button type="button" onclick="window.location.href='{% url "login" %}'" class="btn btn-outline-light" style="width: 150px; height: 60px; font-size: 20px; font-weight: 700;" >START</button>
        {% endif %}
    </div>
    <br> <br><br>
</div>



<style>
    a {
        all: unset;
    }
    a:hover {
        color: white;
        cursor: pointer;
    }
    .login {
        text-align: right;
        padding-top: 40px;
        margin-right: 100px;
        color: white;
        font-family: Nanum Gothic;
        font-size: 35px;
    }
    .logout {
        text-align: right;
        padding-top: 40px;
        margin-right: 100px;
        color: white;
        font-family: Nanum Gothic;
        font-size: 40px;
    }
    .start {
        width: 100%;
        background-image: url('static/image/start/nature.jpg');
    }
    .food_chain {
        text-align: center;
        font-size: 300px;
        font-family: East Sea Dokdo;
        color: white;
    }
    .start_button {
        text-align: center;
        
    }

</style>
{% endblock %}